.bookstore {
  position: relative;
  width: 1440px;
  height: 2384px;
  margin: auto;
  background: #FFFFFE;
}

.navigationArea {
  position: absolute;
  width: 1438px;
  height: 80px;
  left: 0px;
  top: 0px;
}

.head {
  position: absolute;
  width: 1239.95px;
  height: 378px;
  left: 100px;
  top: 156px;
}

.topSellers {
  position: absolute;
  width: 1247px;
  height: 413px;
  left: 90px;
  top: 610px;
}

.recommended {
  position: absolute;
  width: 1247px;
  height: 357px;
  left: 90px;
  top: 1103px;

}

.blog {
  position: absolute;
  width: 1253px;
  height: 284px;
  left: 90px;
  top: 1580px;
}

.footer {
  position: absolute;
  width: 1440px;
  height: 400px;
  left: 0px;
  top: 1984px;
}