.animation {
    position: absolute;
    left: 60.73%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.headText {
    background: teal;
}

.newsName {
    position: absolute;
    left: 0%;
    right: 59.6%;
    top: 16.93%;
    bottom: 70.11%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */


    /* Text */

    color: #0D0842;
}

.newsDescription {
    position: absolute;
    left: 0%;
    right: 63.47%;
    top: 37.83%;
    bottom: 41.01%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    top: 37.83%;
    bottom: 41.01%;

    /* Text */

    color: #0D0842;
}

.subscribeButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 49px;
    gap: 10px;

    position: absolute;
    left: 0%;
    right: 86.21%;
    top: 69.58%;
    bottom: 20.9%;

    /* General color */

    background: #FFCE1A;
    box-shadow: -21px 8px 9px rgba(254, 175, 56, 0.01), -12px 5px 8px rgba(254, 175, 56, 0.05), -5px 2px 6px rgba(254, 175, 56, 0.09), -1px 1px 3px rgba(254, 175, 56, 0.1), 0px 0px 0px rgba(254, 175, 56, 0.1);
    border-radius: 8px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    /* Text color for black BG */

    color: #FFFFF8;
}

.book1 {
    position: absolute;
    left: 0%;
    right: 44.11%;
    top: 0%;
    bottom: 0%;
    background: url('../../../public/assets/header/book1.png');
    border-radius: 3.024px;
    filter: drop-shadow(0px 57.8118px 23.3471px rgba(128, 0, 38, 0.01)) drop-shadow(0px 32.2412px 18.9px rgba(128, 0, 38, 0.05)) drop-shadow(0px 14.4529px 14.4529px rgba(128, 0, 38, 0.09)) drop-shadow(0px 3.33529px 7.78235px rgba(128, 0, 38, 0.1)) drop-shadow(0px 0px 0px rgba(128, 0, 38, 0.1));
}

.book2 {
    position: absolute;
    left: 28.54%;
    right: 20.9%;
    top: 2.19%;
    bottom: 7.35%;

    filter: drop-shadow(-2.22353px 38.9118px 15.5647px rgba(0, 12, 102, 0.01)) drop-shadow(-1.11176px 22.2353px 13.3412px rgba(0, 12, 102, 0.05)) drop-shadow(-1.11176px 10.0059px 10.0059px rgba(0, 12, 102, 0.09)) drop-shadow(0px 2.22353px 5.55882px rgba(0, 12, 102, 0.1)) drop-shadow(0px 0px 0px rgba(0, 12, 102, 0.1));
    background: url('../../../public/assets/header/book2.png');
    border-radius: 2.73543px;
}

.book3 {
    position: absolute;
    left: 56.02%;
    right: 0%;
    top: 6.61%;
    bottom: 14.71%;

    filter: drop-shadow(0px 44.4706px 17.7882px rgba(12, 0, 102, 0.01)) drop-shadow(0px 25.5706px 15.5647px rgba(12, 0, 102, 0.05)) drop-shadow(0px 11.1176px 11.1176px rgba(12, 0, 102, 0.09)) drop-shadow(0px 3.33529px 6.67059px rgba(12, 0, 102, 0.1)) drop-shadow(0px 0px 0px rgba(12, 0, 102, 0.1));
    background: url('../../../public/assets/header/book3.png');
    border-radius: 2.37952px;
}

